.mod-note-manager {
	font-family:verdana,sans-serif;
	font-size:1.1em;
}

.mod-note-manager .note .menu {
	margin-bottom: 3px;
	padding: 3px;
	background:none repeat scroll 0 0 #E7EEF2;
	border-bottom:1px solid #CBCBCB;
}

.mod-note-manager .note .menu {
	font-size:75%;
}

.mod-note-manager .note .menu a{
	margin: 0 4px 0 7px; 
}
.mod-note-manager .note .menu span{
	color:#666666;
}

.mod-note-manager .note .csp {
	white-space: nowrap; 
	overflow: hidden
}

.mod-note-manager .note .exp {
	white-space: normal; 
	overflow: auto
}
